body,
#temp,
#weekday {
    font-family: 'Bakbak One', cursive;
}

main, 
.home-weather {
    font-family: 'Poppins', sans-serif;
}

.winds,
.humidities {
    font-size: 0.8em;
    line-height: 0.8em;
}

.detailed-weather {
    line-height: 1em;
}

.search-history-item,
.search-history-item-results {
    margin: 0.1em 0 0 0;
    opacity: 0.9;
}

.search-history-item:hover,
.search-history-item-results:hover {
    opacity: 1;
}