body,
#temp,
#weekday {
    font-family: 'Bakbak One', cursive;
}

main, 
.home-weather {
    font-family: 'Poppins', sans-serif;
}

.winds,
.humidities {
    font-size: 0.8em;
    line-height: 0.8em;
}

.detailed-weather {
    line-height: 1em;

}